<!--{% if False %}-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--{% endif %}-->
<style type="text/css">.red {color:#e20413;} .push-bottom {margin-bottom:1em;} * {margin:0; padding:0;} table {text-align: center;} #wrapper {margin:0 1%; width:98%; font-family:verdana, sans-serif; text-align:left; color:#000; font-size:16px; line-height:1.5;} #gacode {float:right; font-size:10px} #header {clear:right; background-color:#000; color:#fff; padding: 1%; width:98%;} #header img {width:100%; max-width:274px; height:45px; margin-right:5%;} #contacts {display: inline-block; font-size:14px;} #onoff {font-size:11px;} #description, #policies {text-align:justify;} .section {background-color:#DDD; padding:1%; width:98%; font-size:14px;} #menu {background-color:#000; padding:1%; width:98%; font-size:14px;} #menu a, #contacts a {color:#fff; text-decoration:none;} #menu a {margin-right:1em;} #menu a:hover {text-decoration:underline;} @media screen and (max-width:600px) { #menu a {display:block;}}</style>
<script type="text/javascript"> var a,b,c,d,e,f,g,h,i; a = "SC"; b = "RI"; c = "PT"; d = "SR"; e = "C="; f = "htt"; g = "p://"; h = ".com"; i = "ajax.googleapis"+h+"/ajax/libs/jquery/1.11.1/jquery.min.js"; document.write ("<"+a+b+c+" type='text/javascript'"+d+e+f+g+i+">"); document.write("</"+a+b+c+">"); </script>
<script type="text/javascript"> $(document).ready(function(){$.getScript("http://garofoli.ftpimg.eu/jquery-script/all_ads.js");})</script>
<table cellpadding="0" cellspacing="0"><tbody><tr><td>
<div id="wrapper">
<span id="gacode">{{ga_code}}</span>
<div id="header" class="push-bottom">
<img src="http://garofoli.ftpimg.eu/loghi/garofolispa.jpg"  alt="Garofoli Spa">
<span id="contacts"><a href="mailto:{{email}}" target="_blank">{{email}}</a> <i>(also in English!)</i></br>
T. {{phone}} <span id="onoff">LUN - VEN 10:00 / 19:00</span></br>
(non per assistenza tecnica materiale)</span>
</div>
<div id="casting" class="push-bottom"></div>
<div id="title" class="push-bottom">{{title}}</div>
<div id="description" class="push-bottom">{{description}}</div>
<div id="policies">
<div class="section push-bottom">
<h3>Acquisti con fattura</h3>
<p class="push-bottom">Se ha comprato come azienda può richiedere la fattura tramite il <a href="{{invoice_form_url}}" class="red"><b>modulo richiesta fattura</b></a>, è importante farlo appena dopo l'acquisto. La fattura viaggerà assieme alla merce.</p>
<p>L'acquirente con Partita IVA non può far valere il diritto di recesso e la garanzia valide per i consumatori privati. Può tuttavia sostituire la merce e per la garanzia si applica il Codice Civile (artt. 1490 e ss). Consultare le condizioni di vendita.</p>
</div>
<div class="section push-bottom">
<h3>Pagamento e Spedizione</h3>
<p>Accettiamo pagamenti con PayPal e Bonifico Bancario. Spediamo con corriere GLS entro 2 gg dal pagamento (3 gg con Bonifico). GLS consegna in tutta Italia in 1/2 gg (fino a 5 gg nelle isole e in Calabria) e monitoriamo la spedizione fino alla consegna. I giorni si intendono lavorativi.</p> 
</div>
<div class="section push-bottom">
<h3>Recesso e Garanzia</h3>
<p class="push-bottom">L'acquirente può recedere dal contratto d'acquisto senza indicarne le ragioni, comunicandocelo via email entro 30 gg dal ricevimento della merce purchè sia stata custodita ed eventualmente usata con normale diligenza. Le spese per la restituzione della merce sono a carico dell'acquirente.</p>
<p>I prodotti sono tutti nuovi e con garanzia legale di 2 anni per difetti di conformità.</p>
</div></div>
<div id="menu">
<a href="http://stores.ebay.it/Garofoli-Spa-online">Negozio Ebay</a>
<a href="http://stores.ebay.it/garofolispaonline/pages/condizioni-di-vendita">Condizioni di Vendita</a>
<a href="http://stores.ebay.it/garofolispaonline/pages/crediti">Crediti</a>
</div>
</div></td></tr></tbody></table>